# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
frontend/.next/

# env
.env
backend/.env
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# storage (ВАЖНО)
backend/storage/generated/
backend/storage/uploads/

# backups
frontend/_old_src_backup/
